.gradient-background {
    background: linear-gradient(300deg, #FF5F00, #FF884B, #FDA65D);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gallery img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }

